/* * {
    margin: 0;
    padding: 0;
} */

p {
    background-color: red;
    height: 100px;
    width: 100px;
    /* display: block; */
    /* display: inline; */
    /* display: inline-block; */
    /* display: none; */
}

span {
    background-color: blue;
    height: 100px;
    width: 100px;
    /* display: inline; */
    /* display: block; */
    /* display: inline-block; */
    /* display: none; */
}